@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
}

.all-section {
  background: #181818;
}

/*
============================
        MAIN SECTIONS
============================
 */

.main {
  background: #202020;

  &__item {
    background: url("../images/home-image.png");
    height: 180px;
    position: relative;

    &--avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid #fff;
      overflow: hidden;
      position: absolute;
      bottom: -100px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%) !important;
      box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.25);

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__text {
    &--item {
      h5 {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 3px;
      }

      p {
        color: #DEDEDE;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 17px;
      }

      &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-bottom: 30px;
        border-bottom: 1px solid #1C1C1C;
      }
    }

    &--desc {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      padding-bottom: 30px;
      border-bottom: 1px solid #1C1C1C;
      margin-bottom: 30px;
    }

    &--btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 30px;

      &__red {
        border-radius: 25px;
        background: #ED3024;
        box-shadow: 0 7px 17px -10px rgba(242, 63, 63, 0.20);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 13px 25px;

        &:hover {
          background: #d01d12;
        }
      }

      &__blue {
        border-radius: 25px;
        background: #3137C9;
        box-shadow: 0 7px 17px -10px rgba(32, 84, 219, 0.35);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 13px 25px;

        &:hover {
          background: #1319b0;
        }
      }
    }
  }
}

/*
============================
        ALL SECTIONS
============================
 */


.all-sections {
  width: 100%;

  &__header {
    &--links {
      background: #0D0D0D;

      &__link {
        padding: 13px;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        &:hover {
          background: #3137C9;
        }
      }

      &__search {
        max-width: 212px;
        width: 100%;
        input {
          background: #202020;
          width: 100%;
          padding: 12px;
          color: rgba(255, 255, 255, 0.40);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.swiperBody {
  width: 600px !important;
  margin: 0 0 30px;
  padding: 0;
}

.swiper {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-backface-hidden .swiper-slide{
  width: 162px;
}



.search{
  max-width: 600px;
  width: 100%;
  padding: 15px 28px;
  border-radius: 5px;
  background: #121212;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.45);
  input{
    border: none;
    background: transparent;
    color: #D2D2D2;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:focus{
      outline: none;
    }
  }
}